$nbCardsInHand: 9;
$marginBtwCards : 0.2em;

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    .card{
        margin: 0 0.2em;
    }
    img{
        display: block;
        margin: auto;
    }
}

@media screen and (max-aspect-ratio: 568/320) {
    .cards{background-color: beige};
    img{        
        width: calc(100vw / #{$nbCardsInHand}  - #{($marginBtwCards + 0.1em) * 2}) ;
    }
}
@media screen and (min-aspect-ratio: 568/320) {
    img{
        height: calc(100vh / 4);
    }
}

.darker{
    opacity: 0.5;
}