.player-container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    .status{
        display: flex;    
        .hasToPlay > img{
            background-color: red;    
        }
        
        .hasToPlay > img, .hasToChooseAtout > img, .leader > img{
            height: 50px;
            width: 50px;
        }
    }
}