<!-- <div *ngFor="let player of players" >
  <p>{{player.name}}</p>
</div> -->

<app-atout-selector [selfPlayer]="username"></app-atout-selector>

<div class="playground">

    <div class="info">
        <div class="actions">
            <button class="btnAuto" (click)="isPlayAuto = !isPlayAuto">Auto: {{isPlayAuto}}</button>
            <!-- <h1 *ngIf="isDevMode" class="message"> messages: {{error}}</h1> -->
        </div>
        <div class="currentAtout">
            <img *ngIf="atout" class="atout" src="assets/images/{{atout}}.png" >
        </div>
    </div>

    <div class="player player-top">
        <app-player [player]="playerTop" ></app-player>
    </div>
    <div class="points-panel">
        <app-scores-board></app-scores-board>
    </div>
    <div class="player player-left ">
        <app-player [player]="playerLeft" ></app-player>
    </div>
    <div class="game-board">
        <app-playground></app-playground>
    </div>
    <div class="player player-right">
        <app-player [player]="playerRight" ></app-player>
    </div>
  <div class="hand">
    <h3 [class.choosingAtout]="username == playerChoosingAtout" 
        [class.turnToPlay]="username == playerTurn" 
        class="username" >
        {{username}}
    </h3>
    <app-hand [isPlayAuto]="isPlayAuto" [selfPlayer]="username" ></app-hand>
  </div>
</div>
