.playground{
    .info{grid-area: info;}
    .points-panel{grid-area: points;}
    .game-board{grid-area: board;}
    .hand{grid-area: hand;}
    .player-top{grid-area: playertop;}
    .player-left{grid-area: playerleft;}
    .player-right{grid-area: playerright;}
    
    .player{
        width: 100%;
        height: 100%;
        h3{
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            text-align: center;
        }
    }

    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
        "info playertop points"
        "playerleft board playerright"
        "hand hand hand";
    background-color: green;
 }

 h3{
     margin: 0;
     padding: 0;
 }


.info{
    display: flex;

    .actions{
        width: 50%;
        height: 100%;
        
        h4 {margin-left: 10px;}
    }

    .currentAtout{
        width: 50%;
        height: 100%;
        
        img{
            width: 100%;
            height: 100%;
            max-width: 100px;
            padding: 1em;
        }
    }
}

.username{
    text-align: center;
}

.turnToPlay{
    color: red;
    font-size: 1.5em;
}

.choosingAtout{
    color: blue;
    font-size: 1.5em;
}
