<div *ngIf="chooseAtout" class="atoutContainer">
    <h3>{{atoutMessage}}</h3>
    <div class="atoutSelector" >
        <img (click)="sendAtout('diamonds')" src="assets/images/diamonds.png" alt="" value="diamonds" >
        <img (click)="sendAtout('clubs')" src="assets/images/clubs.png" alt="" value="clubs">
        <img (click)="sendAtout('hearts')" src="assets/images/hearts.png" alt="" value="hearts">
        <img (click)="sendAtout('spades')" src="assets/images/spades.png" alt="" value="spades">
    </div>
    <button *ngIf="!hadChibre" class="btn-chibrer" (click)="chibrer()" >Chibrer</button>
</div>